@use 'styles/variables' as *;
@use 'styles/layout';
@use 'styles/typography';
@use 'styles/components';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $color-surface-page;
}
